<!DOCTYPE html>
<html>
<head>
  
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <table border="black" border-collapse="collapse">
    <thead>
      <tr>
        <th>ID</th>
        <th>Term</th>
        <th>Description</th>
        <th>Reference</th>
    </tr>
   </thead>    
    <tbody>
    <% for (var i = 0; i < glossaryTerms.length; i++) { %>
      <tr>
        <td><%= glossaryTerms[i].ID %></td>
        <td><%= glossaryTerms[i].Term %></td>
        <td><%= glossaryTerms[i].Description %></td>
        <td><%= glossaryTerms[i].Reference %></td>
      </tr>    
     <% } %>    
  </tbody>
  </table>
</body>
</html>
